html {
    box-sizing: border-box;
  }
  * {
    box-sizing: inherit;
  }

body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    background-color: gray;
}

.grid-container {
    display: grid;
    background-color: teal;
    grid-template-areas: 
    "header"
    "main"
    "footer";
}

header {
    grid-area: header;
    background: lightgray;
}

main {
    grid-area: main;
    background-color: white;
}

footer {
    grid-area: footer;
    background-color: white;
}

/* Header */
header h1 {
    font-family: 'Times New Roman', Times, serif;
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 3em;
    font-weight: 10;
    letter-spacing: 10px;
    /*margin-right: 12px;*/
}

header nav {
    
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    font-size: .875em;
    font-style: italic;
}

header nav ul li {
    border-right: 1px solid #bbb;
    padding-right: .9em;
}
header nav ul li:last-child {
    border-right: none;
    padding-left: .9em;
}

header nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 0;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}

header nav ul li a:hover:not(.active) {
    color: #333;
    transition: color 0.2s linear;
}

.active {
    color: #333;
}

/* Main Styles */
main {
    padding: 2em 4em 2em 15em;
    margin: 0;
}

main h1 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 5px;
    font-size: 1.3em;
}

main h2 {
    font-family: 'Courier New', Courier, monospace;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 100;
    font-size: 1.2em;
}

main ul li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

main ul li input, textarea {
    padding: 4px;
    margin: 1em;
}

/* Footer Styles */
footer {
    margin: 0;
    padding: 0;
}
footer p {
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 1em;
    padding: 0;
    text-align: center;
}

footer img {
    float: right;
    margin-right: 2em;
    margin-bottom: 1em;
}



